<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Contact - IUT Paul Sabatier</title>
    <link rel="stylesheet" href="./styles/contact.css" />
    <!-- head -->
  </head>
  <body>
    <!-- navbar -->

    <main>
      <h1>Contact</h1>

      <form>
        <div>
          <div class="form-element">
            <label for="lastname">Nom</label>
            <input
              type="text"
              name="lastname"
              id="lastname"
              placeholder="Votre nom"
            />
          </div>

          <div class="form-element">
            <label for="firstname">Prénom</label>
            <input
              type="text"
              name="firstname"
              id="firstname"
              placeholder="Votre prénom"
            />
          </div>

          <div class="form-element">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Votre email"
            />
          </div>

          <button type="submit">Envoyer</button>
        </div>

        <div class="form-element">
          <label for="message">Message</label>
          <textarea
            name="message"
            id="message"
            cols="30"
            rows="10"
            placeholder="Votre message"
          ></textarea>
        </div>
      </form>

      <section id="renseignement">
        <img
          src="https://iut.univ-tlse3.fr/medias/photo/dsc02730-72dpi_1676277766071-jpg"
          alt="Photo de l'IUT Paul Sabatier"
        />

        <div>
          <div>
            <h2>Adresse</h2>
            <p>
              IUT Paul Sabatier <br />Département Informatique <br />133 B,
              Avenue de Rangueil <br />BP 67701 <br />31077 TOULOUSE cedex 4
            </p>
          </div>

          <iframe
            width="425"
            height="350"
            src="https://www.openstreetmap.org/export/embed.html?bbox=1.462034583091736%2C43.56933798200197%2C1.4665138721466067%2C43.571160835375785&amp;layer=mapnik"
            style="border: 1px solid black"
          ></iframe>
        </div>
      </section>
    </main>

    <!-- footer -->
  </body>
</html>
