<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Bachelor Universitaire de Technologie - IUT Paul Sabatier</title>
    <link rel="stylesheet" href="./styles/index.css" />
    <!-- head -->
  </head>

  <body>
    <!-- navbar -->

    <main>
      <article>
        <img
          loading="lazy"
          src="./assets/DL_02_BUT.svg"
          alt='Certification du diplôme : "BUT - Contrôlé par l&apos;Etat"'
          width="130"
          height="150"
        />

        <div class="text">
          <h2>Historique du BUT</h2>

          <p>
            Le bachelor universitaire de technologie (BUT) est une licence
            professionnelle, et un diplôme national de l'enseignement supérieur
            français créé en 2019 sanctionnant les trois premières années
            d'études dans un institut universitaire de technologie (IUT). Ce
            diplôme permet la délivrance intermédiaire d'un diplôme
            universitaire de technologie (DUT). Il sanctionne trois ans d'études
            avec 180 crédits ECTS.

            <br />

            Source:
            <a
              href="https://fr.wikipedia.org/wiki/Bachelor_universitaire_de_technologie"
            >
              Wikipédia
            </a>
          </p>
        </div>
      </article>

      <hr />

      <article>
        <a
          href="https://iut-informatique.univ-tlse3.fr/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Accéder au site de l'IUT Informatique"
          title="Accéder au site de l'IUT Informatique"
        >
          <img
            loading="lazy"
            src="https://iut-informatique.univ-tlse3.fr/medias/photo/esplanade-iut_1660149707120-PNG"
            alt="Le bâtiment principal de l'IUT, site de Rangueil"
            width="196"
            height="196"
          />
        </a>

        <div class="text">
          <h2>IUT Informatique Toulouse Rangueil</h2>

          <p>
            Créé en 1967, le département Informatique accueille chaque année 168
            étudiants en première année du BUT. Le Bachelor Universitaire de
            Technologie Informatique permet d'acquérir les connaissances et les
            compétences pour le développement, l'analyse et l'optimisation de
            solutions informatiques. Il forme des techniciennes supérieures et
            des techniciens supérieurs qui participent à la conception, à la
            réalisation et à la mise en œuvre de solutions informatiques pour
            répondre aux besoins des utilisateurs dans les Entreprises de
            Services du Numérique (ESN) et des secteurs d'activités comme les
            sociétés de télécommunications, les industries, les services publics
            ou encore les éditeurs de logiciels.
          </p>

          <h3>Contact</h3>

          <p>
            <b>IUT Paul Sabatier</b><br />
            Département Informatique<br />
            133 B, Avenue de Rangueil<br />
            BP 67701<br />
            31077 TOULOUSE cedex 4<br />
            <b>Secrétariat :</b><br />
            E-mail : info.contact@iut-tlse3.fr<br />
            Tél. : 05 62 25 87 61 <br />
            &nbsp;
          </p>
        </div>
      </article>

      <hr />

      <article id="competences">
        <h2>Compétences</h2>

        <section style="--color: #d08a77">
          <img
            loading="lazy"
            src="./assets/compétence-développement.jpg"
            alt="Deux personnes travaillant sur du code"
            width="196"
            height="128"
          />

          <div class="text">
            <h3>Réaliser un développement d'application</h3>

            <ul>
              <li>Développer des applications informatiques simples</li>
              <li>
                Partir des exigences et aller jusqu'à une application complète
              </li>
              <li>
                Adapter des applications sur un ensemble de supports (embarqué,
                web, mobile, IoT…)
              </li>
            </ul>
          </div>
        </section>

        <section style="--color: #ff6f4c">
          <img
            loading="lazy"
            src="./assets/compétence-optimisation.jpg"
            alt="Un ordinateur à côté d'un compteur de vitesse"
            width="196"
            height="128"
          />

          <div class="text">
            <h3>Optimiser des applications</h3>

            <ul>
              <li>Appréhender et construire des algorithmes</li>
              <li>
                Sélectionner les algorithmes adéquats pour répondre à un
                problème donné
              </li>
              <li>Analyser et optimiser des applications</li>
            </ul>
          </div>
        </section>

        <section style="--color: #fdcf41">
          <img
            loading="lazy"
            src="./assets/compétence-administration.jpg"
            alt="Un homme sur son ordinateur portable, stupéfait devant un datacenter"
            width="196"
            height="128"
          />

          <div class="text">
            <h3>
              Administrer des systèmes informatiques communicants complexes
            </h3>

            <ul>
              <li>Installer et configurer un poste de travail</li>
              <li>Déployer des services dans une architecture réseau</li>
              <li>
                Faire évoluer et maintenir un système informatique communicant
                en conditions opérationnelles
              </li>
            </ul>
          </div>
        </section>

        <section style="--color: #91ae4f">
          <img
            loading="lazy"
            src="./assets/compétence-données.jpg"
            alt="Une base de données représentée par des tableaux reliés entre eux"
            width="196"
            height="128"
          />

          <div class="text">
            <h3>Gérer des données de l'information</h3>

            <ul>
              <li>
                Concevoir et mettre en place une base de données à partir d'un
                cahier des charges client
              </li>
              <li>
                Optimiser une base de données, interagir avec une application et
                mettre en œuvre la sécurité
              </li>
              <li>
                Administrer une base de données, concevoir et réaliser des
                systèmes d’informations décisionnels
              </li>
            </ul>
          </div>
        </section>

        <section style="--color: #5770be">
          <img
            loading="lazy"
            src="./assets/compétence-projet.jpg"
            alt="Deux personnes souriantes en costume se serrant la main"
            width="196"
            height="128"
          />

          <div class="text">
            <h3>Conduire un projet</h3>

            <ul>
              <li>
                Identifier les besoins métiers des clients et des utilisateurs
              </li>
              <li>
                Appliquer une démarche de suivi de projet en fonction des
                besoins métiers des clients et des utilisateurs
              </li>
              <li>
                Participer à la conception et à la mise en oeuvre d’un projet
                système d’information
              </li>
            </ul>
          </div>
        </section>

        <section style="--color: #a26859">
          <img
            loading="lazy"
            src="./assets/compétence-collaboration.jpg"
            alt="Un groupe de personnes travaillant sur une table"
            width="196"
            height="128"
          />

          <div class="text">
            <h3>Collaborer au sein d'une équipe informatique</h3>

            <ul>
              <li>Identifier ses aptitudes pour travailler dans une équipe</li>
              <li>
                Situer son rôle et ses missions au sein d'une équipe
                informatique
              </li>
              <li>Manager une équipe informatique</li>
            </ul>
          </div>
        </section>
      </article>

      <hr />

      <article>
        <div class="text">
          <h2>Vie étudiante</h2>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
            ea voluptatum porro quia, maxime consectetur magni eveniet enim
            mollitia aut labore, aperiam maiores similique minus est, eaque vel
            fugit! Provident.
          </p>
        </div>

        <a
          href="https://iut-informatique.univ-tlse3.fr/restauration-hebergement"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Accéder à la rubrique restauration et hébergement du site de l'IUT"
          title="Accéder à la rubrique restauration et hébergement du site de l'IUT"
        >
          <img
            src="https://iut.univ-tlse3.fr/medias/photo/jeunes-bandeausiteweb2019-recadre_1581526439765-jpg"
            alt="4 étudiants souriants devant un IUT"
            loading="lazy"
            width="256"
            height="196"
          />
        </a>
      </article>
    </main>

    <!-- footer -->
  </body>
</html>
