<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="./styles/presentation.css" />
    <!-- head -->
  </head>
  <body>
    <!-- navbar -->

    <main>
      <h1>Présentation du BUT Informatique</h1>

      <h2>Coefficient des ressources du S1</h2>

      <section id="validation">
        <table border="1" id="coeff-s1">
          <thead>
            <tr>
              <th>Ressources</th>
              <th colspan="2">UE1.1 Dev1</th>
              <th colspan="2">UE1.2 Dev2</th>
              <th colspan="2">UE1.3 Sys</th>
              <th colspan="2">UE1.4 Bdd</th>
              <th colspan="2">UE1.5 Prj</th>
              <th colspan="2">UE1.6 Equ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>R1.01</td>
              <td>42%</td>
              <td>4.2</td>
              <td>24%</td>
              <td>2.4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>R1.02</td>
              <td>12%</td>
              <td>1.2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>18%</td>
              <td>1.8</td>
              <td>5%</td>
              <td>0.5</td>
            </tr>
            <tr>
              <td>R1.03</td>
              <td></td>
              <td></td>
              <td>3%</td>
              <td>0.3</td>
              <td>21%</td>
              <td>2.1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>R1.04</td>
              <td></td>
              <td></td>
              <td>3%</td>
              <td>0.3</td>
              <td>21%</td>
              <td>2.1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>R1.05</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>36%</td>
              <td>3.6</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>R1.06</td>
              <td></td>
              <td></td>
              <td>15%</td>
              <td>1.5</td>
              <td></td>
              <td></td>
              <td>18%</td>
              <td>1.8</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>R1.07</td>
              <td></td>
              <td></td>
              <td>15%</td>
              <td>1.5</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>R1.08</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>27%</td>
              <td>2.7</td>
              <td>11%</td>
              <td>1.1</td>
            </tr>
            <tr>
              <td>R1.09</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>6%</td>
              <td>0.6</td>
              <td></td>
              <td></td>
              <td>11%</td>
              <td>1.1</td>
            </tr>
            <tr>
              <td>R1.10</td>
              <td>6%</td>
              <td>0.6</td>
              <td></td>
              <td></td>
              <td>12%</td>
              <td>1.2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>11%</td>
              <td>1.1</td>
            </tr>
            <tr>
              <td>R1.11</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>6%</td>
              <td>0.6</td>
              <td></td>
              <td></td>
              <td>15%</td>
              <td>1.5</td>
              <td>11%</td>
              <td>1.1</td>
            </tr>
            <tr>
              <td>R1.12</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>11%</td>
              <td>1.1</td>
            </tr>
            <tr>
              <td></td>
              <td>60%</td>
              <td>6</td>
              <td>60%</td>
              <td>6</td>
              <td>60%</td>
              <td>6</td>
              <td>60%</td>
              <td>6</td>
              <td>60%</td>
              <td>6</td>
              <td>60%</td>
              <td>6</td>
            </tr>
            <!-- Ligne vide -->
            <tr style="height: 20px">
              <td colspan="13"></td>
            </tr>
            <!-- SAE -->
            <tr>
              <td>S1.01</td>
              <td>40%</td>
              <td>4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>S1.02</td>
              <td></td>
              <td></td>
              <td>40%</td>
              <td>4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>S1.03</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>40%</td>
              <td>4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>S1.04</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>40%</td>
              <td>4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>S1.05</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>40%</td>
              <td>4</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>S1.06</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>40%</td>
              <td>4</td>
            </tr>
            <tr>
              <td>P1.01</td>
              <td>0%</td>
              <td>0</td>
              <td>0%</td>
              <td>0</td>
              <td>0%</td>
              <td>0</td>
              <td>0%</td>
              <td>0</td>
              <td>0%</td>
              <td>0</td>
              <td>0%</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>

        <!-- Callout with 'regle de passage' -->
        <div class="callout">
          <h3>Règle de passage</h3>
          <p>
            Pour passer à l'année supérieure, il est nécéssaire d'avoir au moins
            4 compétences au-dessus de 10 et au plus 2 compétences en dessous de
            8.
          </p>
          <p>
            Dans le cas contraire, une commission pédagogique se réunira pour
            décider de votre passage ou non.
          </p>
        </div>
      </section>

      <hr style="margin: 2rem 0" />
    </main>

    <!-- footer -->
  </body>
</html>
