form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  /** Left column */
  & > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /** Submit button */
  & button[type="submit"] {
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-secondary);
    border-radius: 0.25rem;
    font-family: var(--font-paragraph);
    font-weight: 600;
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
    cursor: pointer;
    transition: background-color 150ms ease;

    &:hover,
    &:focus {
      background-color: var(--color-tertiary);
    }
  }
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & > label {
    font-weight: 600;
  }

  & > input,
  & > textarea {
    padding: 0.5rem;
    border: 1px solid var(--color-secondary);
    border-radius: 0.25rem;
    font-family: var(--font-paragraph);
  }
}

section#renseignement {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  & img {
    border-radius: 0.25rem;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  /** OSM */
  & iframe {
    border-radius: 0.25rem;
    width: 100%;
  }
}

@media (max-width: 600px) {
  form,
  section#renseignement {
    grid-template-columns: 1fr;
  }
}
