footer {
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
  text-align: center;
  padding: 2rem;
}

footer > div {
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* Left and right parts of the footer */
footer > div > div:last-child {
  width: 250px;
}

footer ul {
  list-style: none;
  padding: 0;
}

/* Link to CNIL and GDPR */
footer > a {
  text-align: center;
}
