<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gérer des données de l'information - IUT Paul Sabatier</title>
    <link rel="stylesheet" href="/public/styles/competence.css" />
    <!-- head -->

    <style>
      :root {
        --color-competence-primary: {competence.couleur};
        --color-competence-secondary: {competence.couleurSecondaire};
      }
    </style>
  </head>
  <body>
    <!-- navbar -->

    <main>
      <h1>Compétence 4 - Gérer des données de l'information</h1>

      <article>
        <h2>Apprentissages critiques du niveau 1</h2>

        <!-- <img
          src="{competence.image}"
          alt="Représentation de la compétence Gérer des données de l'information"
        /> -->

        <ul>
          <li>Concevoir et mettre en place une base de données à partir d'un cahier des charges client</li>
<li>Optimiser une base de données, interagir avec une application et mettre en œuvre la sécurité</li>
<li>Administrer une base de données, concevoir et réaliser des systèmes d'informations décisionnels</li>
        </ul>
      </article>

      <hr />

      <article>
        <h2>Evaluation</h2>

        <table>
          <thead>
            <tr>
              <th>Ressource</th>
              <th>R1.05</th>
<th>R1.06</th>
<th>R1.09</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Coefficient</td>
              <td>36%</td>
<td>18%</td>
<td>6%</td>
            </tr>
          </tbody>
        </table>
      </article>

      <hr />

      <article>
        <h2>SAE S1.04 - Création d'une base de données</h2>

        <p>En partant d'un besoin exprimé par un client, Il faut étudier puis réaliser une base de données portant sur une partie du système d'information à développer.</p>
      </article>

      <hr />

      <article>
        <h2>Ressources</h2>

        
        <section class="ressource">
          <header>
            <span class="code">R1.05</span>
            <h3>Introduction aux bases de données et SQL</h3>
          </header>
          <p>L'objectif de cette ressource est l'initiation aux bases de données. Cette ressource permet une première sensibilisation sur l'importance d'une base de données dans le système d'information de l'entreprise et montre la complexité de la création d'une base répondant aux besoins et qui soit de bonne qualité.</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Gérer des données de l'information</b>
            <ul>
              <li>Concevoir et mettre en place une base de données à partir d'un cahier des charges client</li>
<li>Optimiser une base de données, interagir avec une application et mettre en œuvre la sécurité</li>
<li>Administrer une base de données, concevoir et réaliser des systèmes d'informations décisionnels</li>
            </ul>
            </li>
          </ul>
        </section>
      

        <section class="ressource">
          <header>
            <span class="code">R1.06</span>
            <h3>Mathématiques discrètes</h3>
          </header>
          <p>L'objectif de cette ressource est de mettre en place les outils mathématiques nécessaires aux bases de l'informatique. Elle aide à formaliser et mettre en œuvre des outils mathématiques pour l'informatique. Elle accompagne la mise en place des bases de données en explicitant les structures fondamentales de ces dernières</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Optimiser des applications</b>
            <ul>
              <li>Appréhender et construire des algorithmes</li>
<li>Sélectionner les algorithmes adéquats pour répondre à un problème donné</li>
<li>Analyser et optimiser des applications</li>
            </ul>
            </li>
<li>
            <b>Gérer des données de l'information</b>
            <ul>
              <li>Concevoir et mettre en place une base de données à partir d'un cahier des charges client</li>
<li>Optimiser une base de données, interagir avec une application et mettre en œuvre la sécurité</li>
<li>Administrer une base de données, concevoir et réaliser des systèmes d'informations décisionnels</li>
            </ul>
            </li>
          </ul>
        </section>
      

        <section class="ressource">
          <header>
            <span class="code">R1.09</span>
            <h3>Introduction à l’économie durable et numérique</h3>
          </header>
          <p>L'objectif de cette ressource est de découvrir l'économie durable et responsable. L'essor des données de l'information dans la société actuelle amène des nouveaux défis économiques. L'étude de la donnée dans son contexte permet une meilleure visualisation des données de l'information manipulées au quotidien par l'informaticien. Les fondements de l'économie représentent un incontournable pour appréhender l'écosystème numérique.</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Gérer des données de l'information</b>
            <ul>
              <li>Concevoir et mettre en place une base de données à partir d'un cahier des charges client</li>
<li>Optimiser une base de données, interagir avec une application et mettre en œuvre la sécurité</li>
<li>Administrer une base de données, concevoir et réaliser des systèmes d'informations décisionnels</li>
            </ul>
            </li>
<li>
            <b>Collaborer au sein d’une équipe informatique</b>
            <ul>
              <li>Identifier ses aptitudes pour travailler dans une équipe</li>
<li>Situer son rôle et ses missions au sein d’une équipe informatique</li>
<li>Manager une équipe informatique</li>
            </ul>
            </li>
          </ul>
        </section>
      
      </article>

      <a id="jump-top" href="#">↑ Revenir en haut de page</a>
    </main>

    <!-- footer -->
  </body>
</html>
