<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Réaliser un développement d'application - IUT Paul Sabatier</title>
    <link rel="stylesheet" href="/public/styles/competence.css" />
    <!-- head -->

    <style>
      :root {
        --color-competence-primary: {competence.couleur};
        --color-competence-secondary: {competence.couleurSecondaire};
      }
    </style>
  </head>
  <body>
    <!-- navbar -->

    <main>
      <h1>Compétence 1 - Réaliser un développement d'application</h1>

      <article>
        <h2>Apprentissages critiques du niveau 1</h2>

        <!-- <img
          src="{competence.image}"
          alt="Représentation de la compétence Réaliser un développement d'application"
        /> -->

        <ul>
          <li>Développer des applications informatiques simples</li>
<li>Partir des exigences et aller jusqu'à une application complète</li>
<li>Adapter des applications sur un ensemble de supports (embarqué, web, mobile, IoT…)</li>
        </ul>
      </article>

      <hr />

      <article>
        <h2>Evaluation</h2>

        <table>
          <thead>
            <tr>
              <th>Ressource</th>
              <th>R1.01</th>
<th>R1.02</th>
<th>R1.10</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Coefficient</td>
              <td>42%</td>
<td>12%</td>
<td>6%</td>
            </tr>
          </tbody>
        </table>
      </article>

      <hr />

      <article>
        <h2>SAE S1.01 - Implémentation d'un besoin client</h2>

        <p>En partant d'un besoin exprimé par un client, l'objectif est de réaliser une application qui réponde à ce besoin.</p>
      </article>

      <hr />

      <article>
        <h2>Ressources</h2>

        
        <section class="ressource">
          <header>
            <span class="code">R1.01</span>
            <h3>Initiation au développement</h3>
          </header>
          <p>L'objectif de cette ressource est l'initiation au développement. Cette ressource est nécessaire pour la réalisation d'un développement d'application et l'optimisation des applications informatiques</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Réaliser un développement d'application</b>
            <ul>
              <li>Développer des applications informatiques simples</li>
<li>Partir des exigences et aller jusqu'à une application complète</li>
<li>Adapter des applications sur un ensemble de supports (embarqué, web, mobile, IoT…)</li>
            </ul>
            </li>
<li>
            <b>Optimiser des applications</b>
            <ul>
              <li>Appréhender et construire des algorithmes</li>
<li>Sélectionner les algorithmes adéquats pour répondre à un problème donné</li>
<li>Analyser et optimiser des applications</li>
            </ul>
            </li>
          </ul>
        </section>
      

        <section class="ressource">
          <header>
            <span class="code">R1.02</span>
            <h3>Développement d’interfaces web</h3>
          </header>
          <p>L'objectif de cette ressource est d'apprendre les techniques de création de documents numériques sur le web en réponse à des besoins client. Cette ressource est une base pour réaliser un développement d'application tout en appréhendant les besoins du client et de l'utilisateur</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Réaliser un développement d'application</b>
            <ul>
              <li>Développer des applications informatiques simples</li>
<li>Partir des exigences et aller jusqu'à une application complète</li>
<li>Adapter des applications sur un ensemble de supports (embarqué, web, mobile, IoT…)</li>
            </ul>
            </li>
<li>
            <b>Conduire un projet</b>
            <ul>
              <li>Identifier les besoins métiers des clients et des utilisateurs</li>
<li>Appliquer une démarche de suivi de projet en fonction des besoins métiers des clients et des utilisateurs</li>
<li>Participer à la conception et à la mise en oeuvre d'un projet système d'information</li>
            </ul>
            </li>
<li>
            <b>Collaborer au sein d’une équipe informatique</b>
            <ul>
              <li>Identifier ses aptitudes pour travailler dans une équipe</li>
<li>Situer son rôle et ses missions au sein d’une équipe informatique</li>
<li>Manager une équipe informatique</li>
            </ul>
            </li>
          </ul>
        </section>
      

        <section class="ressource">
          <header>
            <span class="code">R1.10</span>
            <h3>Anglais</h3>
          </header>
          <p>L'objectif de cette ressource est d'introduire l'anglais de spécialité informatique et de développer sa culture générale et scientifique. Cette ressource permet l'acquisition du vocabulaire de base de l'informatique.</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Réaliser un développement d'application</b>
            <ul>
              <li>Développer des applications informatiques simples</li>
<li>Partir des exigences et aller jusqu'à une application complète</li>
<li>Adapter des applications sur un ensemble de supports (embarqué, web, mobile, IoT…)</li>
            </ul>
            </li>
<li>
            <b>Administrer des systèmes informatiques communicants complexes</b>
            <ul>
              <li>Installer et configurer un poste de travail</li>
<li>Déployer des services dans une architecture réseau</li>
<li>Faire évoluer et maintenir un système informatique communicant en conditions opérationnelles</li>
            </ul>
            </li>
<li>
            <b>Collaborer au sein d’une équipe informatique</b>
            <ul>
              <li>Identifier ses aptitudes pour travailler dans une équipe</li>
<li>Situer son rôle et ses missions au sein d’une équipe informatique</li>
<li>Manager une équipe informatique</li>
            </ul>
            </li>
          </ul>
        </section>
      
      </article>

      <a id="jump-top" href="#">↑ Revenir en haut de page</a>
    </main>

    <!-- footer -->
  </body>
</html>
