<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Optimiser des applications - IUT Paul Sabatier</title>
    <link rel="stylesheet" href="/public/styles/competence.css" />
    <!-- head -->

    <style>
      :root {
        --color-competence-primary: {competence.couleur};
        --color-competence-secondary: {competence.couleurSecondaire};
      }
    </style>
  </head>
  <body>
    <!-- navbar -->

    <main>
      <h1>Compétence 2 - Optimiser des applications</h1>

      <article>
        <h2>Apprentissages critiques du niveau 1</h2>

        <!-- <img
          src="{competence.image}"
          alt="Représentation de la compétence Optimiser des applications"
        /> -->

        <ul>
          <li>Appréhender et construire des algorithmes</li>
<li>Sélectionner les algorithmes adéquats pour répondre à un problème donné</li>
<li>Analyser et optimiser des applications</li>
        </ul>
      </article>

      <hr />

      <article>
        <h2>Evaluation</h2>

        <table>
          <thead>
            <tr>
              <th>Ressource</th>
              <th>R1.01</th>
<th>R1.03</th>
<th>R1.04</th>
<th>R1.06</th>
<th>R1.07</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Coefficient</td>
              <td>24%</td>
<td>3%</td>
<td>3%</td>
<td>15%</td>
<td>15%</td>
            </tr>
          </tbody>
        </table>
      </article>

      <hr />

      <article>
        <h2>SAE S1.02 - Comparaison d'approches algorithmiques</h2>

        <p>En partant d'un besoin exprimé par un client, il faut réaliser une implémentation, comparer plusieurs approches pour la résolution d'un problème et effectuer des mesures de performance simples.</p>
      </article>

      <hr />

      <article>
        <h2>Ressources</h2>

        
        <section class="ressource">
          <header>
            <span class="code">R1.01</span>
            <h3>Initiation au développement</h3>
          </header>
          <p>L'objectif de cette ressource est l'initiation au développement. Cette ressource est nécessaire pour la réalisation d'un développement d'application et l'optimisation des applications informatiques</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Réaliser un développement d'application</b>
            <ul>
              <li>Développer des applications informatiques simples</li>
<li>Partir des exigences et aller jusqu'à une application complète</li>
<li>Adapter des applications sur un ensemble de supports (embarqué, web, mobile, IoT…)</li>
            </ul>
            </li>
<li>
            <b>Optimiser des applications</b>
            <ul>
              <li>Appréhender et construire des algorithmes</li>
<li>Sélectionner les algorithmes adéquats pour répondre à un problème donné</li>
<li>Analyser et optimiser des applications</li>
            </ul>
            </li>
          </ul>
        </section>
      

        <section class="ressource">
          <header>
            <span class="code">R1.03</span>
            <h3>Introduction à l’architecture des ordinateurs</h3>
          </header>
          <p>L'objectif de cette ressource est de découvrir la structure et les composants d'un ordinateur. Cette ressource permet de découvrir les différents composants matériels et logiciels internes qui constituent un ordinateur, de manière à appréhender le fonctionnement, mais aussi les limites de leur utilisation</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Optimiser des applications</b>
            <ul>
              <li>Appréhender et construire des algorithmes</li>
<li>Sélectionner les algorithmes adéquats pour répondre à un problème donné</li>
<li>Analyser et optimiser des applications</li>
            </ul>
            </li>
<li>
            <b>Administrer des systèmes informatiques communicants complexes</b>
            <ul>
              <li>Installer et configurer un poste de travail</li>
<li>Déployer des services dans une architecture réseau</li>
<li>Faire évoluer et maintenir un système informatique communicant en conditions opérationnelles</li>
            </ul>
            </li>
          </ul>
        </section>
      

        <section class="ressource">
          <header>
            <span class="code">R1.04</span>
            <h3>Introduction aux systèmes d’exploitation et à leur fonctionnement</h3>
          </header>
          <p>L'objectif de cette ressource est de comprendre le rôle, les composants et le fonctionnement d'un système d'exploitation. Cette ressource permet de découvrir les principes d'un système d'exploitation, leur mode de fonctionnement et les différents types existants. Elle contribue à comprendre comment installer un système sur une machine et à le personnaliser en développant des fonctions simples facilitant la configuration et le paramétrage</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Optimiser des applications</b>
            <ul>
              <li>Appréhender et construire des algorithmes</li>
<li>Sélectionner les algorithmes adéquats pour répondre à un problème donné</li>
<li>Analyser et optimiser des applications</li>
            </ul>
            </li>
<li>
            <b>Administrer des systèmes informatiques communicants complexes</b>
            <ul>
              <li>Installer et configurer un poste de travail</li>
<li>Déployer des services dans une architecture réseau</li>
<li>Faire évoluer et maintenir un système informatique communicant en conditions opérationnelles</li>
            </ul>
            </li>
          </ul>
        </section>
      

        <section class="ressource">
          <header>
            <span class="code">R1.06</span>
            <h3>Mathématiques discrètes</h3>
          </header>
          <p>L'objectif de cette ressource est de mettre en place les outils mathématiques nécessaires aux bases de l'informatique. Elle aide à formaliser et mettre en œuvre des outils mathématiques pour l'informatique. Elle accompagne la mise en place des bases de données en explicitant les structures fondamentales de ces dernières</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Optimiser des applications</b>
            <ul>
              <li>Appréhender et construire des algorithmes</li>
<li>Sélectionner les algorithmes adéquats pour répondre à un problème donné</li>
<li>Analyser et optimiser des applications</li>
            </ul>
            </li>
<li>
            <b>Gérer des données de l'information</b>
            <ul>
              <li>Concevoir et mettre en place une base de données à partir d'un cahier des charges client</li>
<li>Optimiser une base de données, interagir avec une application et mettre en œuvre la sécurité</li>
<li>Administrer une base de données, concevoir et réaliser des systèmes d'informations décisionnels</li>
            </ul>
            </li>
          </ul>
        </section>
      

        <section class="ressource">
          <header>
            <span class="code">R1.07</span>
            <h3>Outils mathématiques fondamentaux</h3>
          </header>
          <p>L'objectif de cette ressource est la remise à niveau des notions mathématiques de base. Cette ressource donne les outils mathématiques fondamentaux nécessaires à la programmation informatique.</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Optimiser des applications</b>
            <ul>
              <li>Appréhender et construire des algorithmes</li>
<li>Sélectionner les algorithmes adéquats pour répondre à un problème donné</li>
<li>Analyser et optimiser des applications</li>
            </ul>
            </li>
          </ul>
        </section>
      
      </article>

      <a id="jump-top" href="#">↑ Revenir en haut de page</a>
    </main>

    <!-- footer -->
  </body>
</html>
