<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Administrer des systèmes informatiques communicants complexes - IUT Paul Sabatier</title>
    <link rel="stylesheet" href="/public/styles/competence.css" />
    <!-- head -->

    <style>
      :root {
        --color-competence-primary: {competence.couleur};
        --color-competence-secondary: {competence.couleurSecondaire};
      }
    </style>
  </head>
  <body>
    <!-- navbar -->

    <main>
      <h1>Compétence 3 - Administrer des systèmes informatiques communicants complexes</h1>

      <article>
        <h2>Apprentissages critiques du niveau 1</h2>

        <!-- <img
          src="{competence.image}"
          alt="Représentation de la compétence Administrer des systèmes informatiques communicants complexes"
        /> -->

        <ul>
          <li>Installer et configurer un poste de travail</li>
<li>Déployer des services dans une architecture réseau</li>
<li>Faire évoluer et maintenir un système informatique communicant en conditions opérationnelles</li>
        </ul>
      </article>

      <hr />

      <article>
        <h2>Evaluation</h2>

        <table>
          <thead>
            <tr>
              <th>Ressource</th>
              <th>R1.03</th>
<th>R1.04</th>
<th>R1.10</th>
<th>R1.11</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Coefficient</td>
              <td>21%</td>
<td>21%</td>
<td>12%</td>
<td>6%</td>
            </tr>
          </tbody>
        </table>
      </article>

      <hr />

      <article>
        <h2>SAE S1.03 - Installation d'un poste pour le développement</h2>

        <p>En partant d'un besoin exprimé par un client, il faut identifier les outils les plus adaptés aux besoins, les installer, les configurer et créer une notice d'utilisation.</p>
      </article>

      <hr />

      <article>
        <h2>Ressources</h2>

        
        <section class="ressource">
          <header>
            <span class="code">R1.03</span>
            <h3>Introduction à l’architecture des ordinateurs</h3>
          </header>
          <p>L'objectif de cette ressource est de découvrir la structure et les composants d'un ordinateur. Cette ressource permet de découvrir les différents composants matériels et logiciels internes qui constituent un ordinateur, de manière à appréhender le fonctionnement, mais aussi les limites de leur utilisation</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Optimiser des applications</b>
            <ul>
              <li>Appréhender et construire des algorithmes</li>
<li>Sélectionner les algorithmes adéquats pour répondre à un problème donné</li>
<li>Analyser et optimiser des applications</li>
            </ul>
            </li>
<li>
            <b>Administrer des systèmes informatiques communicants complexes</b>
            <ul>
              <li>Installer et configurer un poste de travail</li>
<li>Déployer des services dans une architecture réseau</li>
<li>Faire évoluer et maintenir un système informatique communicant en conditions opérationnelles</li>
            </ul>
            </li>
          </ul>
        </section>
      

        <section class="ressource">
          <header>
            <span class="code">R1.04</span>
            <h3>Introduction aux systèmes d’exploitation et à leur fonctionnement</h3>
          </header>
          <p>L'objectif de cette ressource est de comprendre le rôle, les composants et le fonctionnement d'un système d'exploitation. Cette ressource permet de découvrir les principes d'un système d'exploitation, leur mode de fonctionnement et les différents types existants. Elle contribue à comprendre comment installer un système sur une machine et à le personnaliser en développant des fonctions simples facilitant la configuration et le paramétrage</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Optimiser des applications</b>
            <ul>
              <li>Appréhender et construire des algorithmes</li>
<li>Sélectionner les algorithmes adéquats pour répondre à un problème donné</li>
<li>Analyser et optimiser des applications</li>
            </ul>
            </li>
<li>
            <b>Administrer des systèmes informatiques communicants complexes</b>
            <ul>
              <li>Installer et configurer un poste de travail</li>
<li>Déployer des services dans une architecture réseau</li>
<li>Faire évoluer et maintenir un système informatique communicant en conditions opérationnelles</li>
            </ul>
            </li>
          </ul>
        </section>
      

        <section class="ressource">
          <header>
            <span class="code">R1.10</span>
            <h3>Anglais</h3>
          </header>
          <p>L'objectif de cette ressource est d'introduire l'anglais de spécialité informatique et de développer sa culture générale et scientifique. Cette ressource permet l'acquisition du vocabulaire de base de l'informatique.</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Réaliser un développement d'application</b>
            <ul>
              <li>Développer des applications informatiques simples</li>
<li>Partir des exigences et aller jusqu'à une application complète</li>
<li>Adapter des applications sur un ensemble de supports (embarqué, web, mobile, IoT…)</li>
            </ul>
            </li>
<li>
            <b>Administrer des systèmes informatiques communicants complexes</b>
            <ul>
              <li>Installer et configurer un poste de travail</li>
<li>Déployer des services dans une architecture réseau</li>
<li>Faire évoluer et maintenir un système informatique communicant en conditions opérationnelles</li>
            </ul>
            </li>
<li>
            <b>Collaborer au sein d’une équipe informatique</b>
            <ul>
              <li>Identifier ses aptitudes pour travailler dans une équipe</li>
<li>Situer son rôle et ses missions au sein d’une équipe informatique</li>
<li>Manager une équipe informatique</li>
            </ul>
            </li>
          </ul>
        </section>
      

        <section class="ressource">
          <header>
            <span class="code">R1.11</span>
            <h3>Bases de la communication</h3>
          </header>
          <p>L'objectif de cette ressource est d'aborder les fondamentaux de la communication. Cette ressource permet une approche sur l'importance de bien communiquer face à un client, de formuler ses questions de manière claire et pertinente pour recueillir les besoins du client. Elle permet de développer l'esprit critique et la capacité d'analyse nécessaires à la collecte d'informations. Enfin, la ressource permet la mise en place et l'appropriation d'outils de communication pour restituer les informations (sous formes diverses du papier au web) à destination d'un client ou d'une équipe.</p>
          <h4>Apparentissages critiques liés :</h4>
          <ul>
            <li>
            <b>Administrer des systèmes informatiques communicants complexes</b>
            <ul>
              <li>Installer et configurer un poste de travail</li>
<li>Déployer des services dans une architecture réseau</li>
<li>Faire évoluer et maintenir un système informatique communicant en conditions opérationnelles</li>
            </ul>
            </li>
<li>
            <b>Conduire un projet</b>
            <ul>
              <li>Identifier les besoins métiers des clients et des utilisateurs</li>
<li>Appliquer une démarche de suivi de projet en fonction des besoins métiers des clients et des utilisateurs</li>
<li>Participer à la conception et à la mise en oeuvre d'un projet système d'information</li>
            </ul>
            </li>
<li>
            <b>Collaborer au sein d’une équipe informatique</b>
            <ul>
              <li>Identifier ses aptitudes pour travailler dans une équipe</li>
<li>Situer son rôle et ses missions au sein d’une équipe informatique</li>
<li>Manager une équipe informatique</li>
            </ul>
            </li>
          </ul>
        </section>
      
      </article>

      <a id="jump-top" href="#">↑ Revenir en haut de page</a>
    </main>

    <!-- footer -->
  </body>
</html>
