<footer>
  <div id="footer-wrapper">
    <div>
      <div class="sitemap">
        <h3>Plan du site</h3>
        <ul>
          <li>
            <a href="/">Accueil</a>
          </li>
          <li>
            <a href="/presentation">Présentation du BUT</a>
          </li>
          <li>
            <a href="/competences">Compétences</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>

      <div class="company-details">
        <h3>Informations</h3>
        <ul>
          <li>Equipe [object, Object]</li>
          <li>Clément VOISIN</li>
          <li>Gérald LEBAN</li>
        </ul>
      </div>
    </div>

    <a
      href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees"
      target="_blank"
    >
      CNIL - RGPD
    </a>
  </div>
</footer>
