<nav>
  <header>
    <div>
      <img
        src="./assets/logo-IUT-UT3-carre2019.jpg"
        alt="Logo de l'IUT Paul Sabatier"
        height="64"
      />
      <img
        src="./assets/logo-UT3_UFTMP.jpg"
        alt="Logo de l'Université Paul Sabatier"
        height="64"
      />
    </div>

    <img
      src="./assets/Informatique-logo-TOULOUSE.png"
      alt="Logo du BUT Informatique à l'IUT Paul Sabatier"
      height="64"
    />
  </header>

  <div id="navigation-wrapper">
    <ul id="navigation">
      <li>
        <a href="./index.html"> Accueil </a>
      </li>
      <li>
        <a href="./presentation.html">
          <span class="desktop-text"> Présentation du </span>
          BUT
        </a>
      </li>
      <li id="submenu">
        <input type="checkbox" name="navbar" id="competences-checkbox" />

        <label for="competences-checkbox">
          Compétences
          <span aria-hidden class="icon">▶</span>
        </label>

        <ul>
          <li>
            <a href="./competences-dev1.html">
              Réaliser un développement d'application
            </a>
          </li>
          <li>
            <a href="./competences-dev2.html">
              Optimiser des applications informatiques
            </a>
          </li>
          <li>
            <a href="./competences-sys.html">
              Administrer des systèmes informatiques communicants complexes
            </a>
          </li>
          <li>
            <a href="./competences-bdd.html">
              Gérer des données de l'information
            </a>
          </li>
          <li>
            <a href="./competences-prj.html"> Conduire un projet </a>
          </li>
          <li>
            <a href="./competences-equ.html">
              Travailler dans une équipe informatique
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="./contact.html"> Contact </a>
      </li>
    </ul>
  </div>
</nav>
