<nav>
  <header>
    <div>
      <img
        src="./public/assets/logo-IUT-UT3-carre2019.jpg"
        alt="Logo de l'IUT Paul Sabatier"
        height="64"
      />
      <img
        src="./public/assets/logo-UT3_UFTMP.jpg"
        alt="Logo de l'Université Paul Sabatier"
        height="64"
      />
    </div>

    <img
      src="./public/assets/Informatique-logo-TOULOUSE.png"
      alt="Logo du BUT Informatique à l'IUT Paul Sabatier"
      height="64"
    />
  </header>

  <ul role="navigation">
    <li>
      <a href="/"> Accueil </a>
    </li>
    <li>
      <a href="/presentation">
        <span class="desktop-text"> Présentation du </span>
        BUT
      </a>
    </li>
    <li role="menu">
      <input type="checkbox" name="navbar" id="competences-checkbox" />

      <label for="competences-checkbox">
        Compétences
        <div aria-hidden class="icon">▶</div>
      </label>

      <ul>
        <li>
          <a href="/competences#dev">
            Réaliser un développement d'application
          </a>
        </li>
        <li>
          <a href="/competences#opti">
            Optimiser des applications informatiques
          </a>
        </li>
        <li>
          <a href="/competences#admin">
            Administrer des systèmes informatiques communicants complexes
          </a>
        </li>
        <li>
          <a href="/competences#donnees">
            Gérer des données de l'information
          </a>
        </li>
        <li>
          <a href="/competences#projet"> Conduire un projet </a>
        </li>
        <li>
          <a href="/competences#equipe">
            Travailler dans une équipe informatique
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/contact"> Contact </a>
    </li>
  </ul>
</nav>
